<h1 align="center">Editing vehicletype</h1>

<%= render 'form' %>

<%= link_to (I18n.t 'button.show'), @vehicletype, class: "btn btn-sm btn-primary" %> |
<%= link_to (I18n.t 'button.back'), vehicletypes_path, class: "btn btn-sm btn-warning" %>
