<div class="pricing-section-2 parallax" data-stellar-background-ratio="0.5" style="background-position: 0px -1000px;">
  <div class="container text-center wow animated bounceIn animated" style="visibility: visible; -webkit-animation: none;">
    <h1 style="color: white;"><%= t ('parallax.main') %></h1>
    <p><%= link_to (I18n.t 'parallax.link'), "#", class: "btn btn-white" %></p>
  </div>
</div>