<div id="transfer-types">
  <div class="container">
    <a href="#">
      <span class="icon i1"></span>
      Shared Shuttle
    </a>
    <a href="#">
      <span class="icon i2"></span>
      Private Taxi
    </a>
    <a href="#">
      <span class="icon i3"></span>
      Private Minibus
    </a>
    <a href="#">
      <span class="icon i4"></span>
      Executive
    </a>
  </div>
</div>