<% provide(:title, 'Contact') %>
<h1 align="center">Contact us</h1>
<div class="row">
  <aside class="col-md-7 col-md-offset-1">
    <input id="address" type="hidden" value="London, United Kingdom">
    <div id="map-canvas"></div>
    </aside>
<aside class="col-md-4">
  <div class="sidebar">
    <div class="side vertical-divider-left">
      <h3 class="title">TFY Worldwide Ltd.</h3>
      <ul class="list">
        <li><strong></strong></li>
        <li><img alt="" src="/assets/home-black@2x.png" style="width: 24px; height: 24px; display: inline; margin-right: 8px;">795 Folsom Ave, Suite 600<br><span class="pl-20">San Francisco, CA 94107</span></li>
        <li><img alt="" src="/assets/phone-sign-black@2x.png" style="width: 24px; height: 24px; display: inline; margin-right: 8px;"><abbr title="Phone">P:</abbr> (123) 456-7890</li>
        <li><img alt="" src="/assets/skype-black@2x.png" style="width: 26px; height: 26px; display: inline; margin-right: 8px;"><abbr title="Phone">M:</abbr> (123) 456-7890</li>
        <li><img alt="" src="/assets/mail-black@2x.png" style="width: 24px; height: 24px; display: inline; margin-right: 8px;"><a href="mailto:info@idea.com">info@idea.com</a></li>
      </ul>
      <ul class="social-links colored circle large">
        <li class="facebook"><a target="_blank" href="http://www.facebook.com"><img alt="" src="/assets/facebook-white@2x.png" style="width: 40px; height: 40px; margin-top: 8px; margin-left: 8px;"></a></li>
        <li class="twitter"><a target="_blank" href="http://www.twitter.com"><img alt="" src="/assets/twitter-white@2x.png" style="width: 40px; height: 40px; margin-top: 8px; margin-left: 8px;"></a></li>
        <li class="googleplus"><a target="_blank" href="http://plus.google.com"><img alt="" src="/assets/google-plus-white@2x.png" style="width: 40px; height: 40px; margin-top: 8px; margin-left: 8px;"></a></li>
      </ul>
    </div>
  </div>
</aside>
</div>
</br>
