<% provide(:title, 'Privacy and security') %>
<div class="container">
    <h1 align="center"><%= t ('menu.terms')%></h1>
    <div class="text-justify">
      <%= (t 'privacy_and_security').html_safe %>
    </div>
</div>