<section class="main-container" style="margin-top: 0px;">

  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-12">

        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="page-title text-center">Core Features</h1>
        <div class="separator"></div>
        <!-- page-title end -->

        <div class="row">
          <div class="col-md-6">
            <div class="box-style-3 right animated fadeInUpSmall">
              <div class="icon-container default-bg">
                <i class="fa fa-bold"></i>
              </div>
              <div class="body">
                <h2>Bootstrap Based</h2>
                <p>Voluptatem ad provident non veritatis beatae cupiditate amet reiciendis.</p>
                <a href="page-services.html" class="link"><span>Read More</span></a>
              </div>
            </div>
            <div class="box-style-3 right animated fadeInUpSmall">
              <div class="icon-container default-bg">
                <i class="fa fa-check"></i>
              </div>
              <div class="body">
                <h2>Unlimited Options</h2>
                <p>Iure sequi unde hic. Sapiente quaerat labore inventore veritatis cumque.</p>
                <a href="page-services.html" class="link"><span>Read More</span></a>
              </div>
            </div>
            <div class="box-style-3 right animated fadeInUpSmall">
              <div class="icon-container default-bg">
                <i class="fa fa-bicycle"></i>
              </div>
              <div class="body">
                <h2>Easy to Use</h2>
                <p>Inventore dolores aut laboriosam cum consequuntur delectus sequi! Eum est.</p>
                <a href="page-services.html" class="link"><span>Read More</span></a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="space hidden-lg hidden-md"></div>
            <div class="pricing-section-2 parallax" data-stellar-background-ratio="0.5" style="background-position: 0px -300px;">
              <div class="container text-center wow animated bounceIn animated" style="visibility: visible; -webkit-animation: none;">
                <h1 style="color: white;"><%= t ('parallax.main') %></h1>
                <p><%= link_to (I18n.t 'parallax.link'), "#", class: "btn btn-white" %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="space"></div>

      </div>
      <!-- main end -->

    </div>
  </div>
</section>
<div class="section gray-bg clearfix">
  <div class="container" style="width: 95%;">
    <h1 class="text-center title">More Features</h1>
    <div class="row grid-space-10">
      <div class="col-sm-4">
        <div class="box-style-2 object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
          <div class="icon-container default-bg">
            <i class="fa fa-leaf"></i>
          </div>
          <div class="body">
            <h2>Clean Design and Code</h2>
            <p>Voluptatem ad provident non veritatis beatae cupiditate amet reiciendis.</p>
            <a href="page-services.html" class="link"><span>Read More</span></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box-style-2 object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
          <div class="icon-container default-bg">
            <i class="fa fa-laptop"></i>
          </div>
          <div class="body">
            <h2>Very Flexible</h2>
            <p>Iure sequi unde hic. Sapiente quaerat labore inventore veritatis cumque.</p>
            <a href="page-services.html" class="link"><span>Read More</span></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box-style-2 object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
          <div class="icon-container default-bg">
            <i class="fa fa-sitemap"></i>
          </div>
          <div class="body">
            <h2>Latest Technologies</h2>
            <p>Inventore dolores aut laboriosam cum consequuntur delectus sequi! Eum est.</p>
            <a href="page-services.html" class="link"><span>Read More</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row grid-space-10">
      <div class="col-sm-4">
        <div class="box-style-2 object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="600">
          <div class="icon-container default-bg">
            <i class="fa fa-bold"></i>
          </div>
          <div class="body">
            <h2>Packed Full of Features</h2>
            <p>Voluptatem ad provident non veritatis beatae cupiditate amet reiciendis.</p>
            <a href="page-services.html" class="link"><span>Read More</span></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box-style-2 object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="800">
          <div class="icon-container default-bg">
            <i class="fa fa-check"></i>
          </div>
          <div class="body">
            <h2>100% Responsive</h2>
            <p>Iure sequi unde hic. Sapiente quaerat labore inventore veritatis cumque.</p>
            <a href="page-services.html" class="link"><span>Read More</span></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box-style-2 object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="1000">
          <div class="icon-container default-bg">
            <i class="fa fa-bicycle"></i>
          </div>
          <div class="body">
            <h2>After Sale Support</h2>
            <p>Inventore dolores aut laboriosam cum consequuntur delectus sequi! Eum est.</p>
            <a href="page-services.html" class="link"><span>Read More</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>