<h1>Editing destination_fare</h1>

<%= render 'form' %>

<%= link_to (I18n.t 'button.show'), @destination_fare, class: "btn btn-sm btn-primary" %> |
<%= link_to (I18n.t 'button.back'), destination_fares_path, class: "btn btn-sm btn-warning" %>
