<h4 align="center">Booking information</h4>
    <div class="row" style="border-bottom: 3px solid #eeeeee;">
      <div class="col-md-4" id="booking_info_1">
          <h5>From:</h5>
            <b>Airport: </b><label id="l_airport"></label></br>
            <b>Time: </b><label id="l_arrival_date"></label></br>
            <b>Type: </b><label id="l_booking_type"></label></br>
      </div>
      <div class="col-md-4" id="booking_info_2">
            <h5>To:</h5>
              <b>Address: </b><label id="l_address"></label></br>
              <b>Time to destinations: </b></br>
      </div>
      <div class="col-md-4"  id="booking_info_3">
            <h5>Transfer:</h5>
              <b>Transfer: </b>
            <div id="vehicletype_booking_info">
            </div>
              <b>Passangers: </b><label id="l_passangers"></label></br>
      </div>
    </div>