<!--Users Count-->
<h5><%= t :saas_user_statistic_block %></h5>
<table align="left" border="0" cellpadding="1" cellspacing="1" style="width:100%" class="table">
  <tbody>
  <tr>
    <td>
      <ul class="unstyled">
        <li><%= t 'admin_block_user.user_count' %> <%= User.count %></li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>