<h1 align="center">Editing review</h1>

<%= render 'form' %>

<%= link_to (I18n.t 'button.show'), @review, class: "btn btn-sm btn-primary" %> |
<%= link_to (I18n.t 'button.back'), reviews_path, class: "btn btn-sm btn-warning" %>
