<h1>Editing supplier</h1>

<%= render 'form' %>

<%= link_to (I18n.t 'button.show'), @supplier, class: "btn btn-sm btn-primary" %> |
<%= link_to (I18n.t 'button.back'), suppliers_path, class: "btn btn-sm btn-warning" %>
